
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">

    <div style="margin: 20% 20% 20% 20%; ">
        <span style="font-size:x-large">
            Thanks for signing up!
            <p>
                After validating your signup request. As soon as your turn is up and you're approved, you can login into your account and post your ads.
            </p>
        </span>
    </div>
</div>
